@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Помилка.</h1>
<h2 class="text-danger">Під час обробки вашого запиту сталася помилка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запита:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим розробки</h3>
<p>
    Перехід до <strong>Розробки</strong> покаже детальну інформацію про помилку, яка сталася.
</p>
<p>
    <strong>Середовище розробки не повинно бути ввімкнено для розгорнутих програм.</strong>
    Це може призвести до відображення конфіденційної інформації з винятків кінцевим користувачам.
    Для локальної налагодження увімкніть <strong>Розробки</strong> середовища, встановивши <strong>ASPNETCORE_ENVIRONMENT</strong> змінну оточення до <strong>Розробки</strong>
    і перезапустити додаток.
</p>
