@page
@model IndexModel
@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h1 class="display-4">Ласкаво просимо</h1>
    <p>Дізнайтеся про <a href="https://learn.microsoft.com/aspnet/core">створення веб-додатків за допомогою ASP.NET Core</a>.</p>
</div>
