@page
@model PrivacyModel
@{
    ViewData["Title"] = "Політика конфіденційності";
}
<h1>@ViewData["Title"]</h1>

<p>Використовуйте цю сторінку, щоб детально описати політику конфіденційності вашого сайту.</p>
