@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Підтвердити зміну адреси електронної пошти";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
