@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Забули підтвердження пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Будь ласка, перевірте свою електронну пошту, щоб скинути пароль.
</p>
