@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Скинути підтвердження пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ваш пароль було скинуто. Будь ласка <a asp-page="./Login">натисніть тут, щоб увійти</a>.
</p>
